body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.wrapper {
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.wrapper__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
  height: 1000px;
  position: relative;
}

.header-wrapper__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  min-height: 81px;
  border-bottom: 1px solid #3e3f51;
}

.top-header-wrapper__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 1170px;
}

.content-top-header-wrapper__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-top-header-wrapper__logo img {
  width: 73px;
  height: 31px;
  margin-right: 18px;
}

.content-top-header-wrapper__title {
  font-size: 11px;
  font-weight: 200;
  line-height: 13px;
  color: #d7d7d7;
}

.navigation-content-top-header-wrapper__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-height: 100%;
  position: relative;
}

.navigation-content-top-header-wrapper__menu
  :last-child:hover
  .menu-navigation-content-top-header-wrapper__tip {
  display: block;
}

.navigation-content-top-header-wrapper__menu
  :last-child:hover
  .menu-navigation-content-top-header-wrapper__tip::after {
  display: block;
}

.content-top-header-wrapper__btn-mobile {
  display: none;
}

.menu-navigation-content-top-header-wrapper__tip {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 16px 30px;
  position: absolute;
  right: 0;
  top: calc(100% - 10px);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.menu-navigation-content-top-header-wrapper__tip > a {
  color: #242539;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
}

.menu-navigation-content-top-header-wrapper__tip > a:hover {
  color: #ed2985;
}

.menu-navigation-content-top-header-wrapper__tip::after {
  border: 8px solid transparent;
  border-bottom-color: #fff;
  content: "";
  display: none;
  left: 68%;
  position: absolute;
  top: 11px;
  -webkit-transform: translate(-50%, -23px);
  transform: translate(-50%, -23px);
}

.menu-navigation-content-top-header-wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-navigation-content-top-header-wrapper__item > a {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8em;
  margin: 0 30px;
  padding: 26px 0;
  text-decoration: none;
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.menu-navigation-content-top-header-wrapper__item > a:hover {
  color: #ed2985;
  border-bottom: 2px solid #ed2985;
}

.menu-navigation-content-top-header-wrapper__item.menu-navigation-content-top-header-wrapper__item--active
  a {
  color: #ed2985;
  border-bottom: 2px solid #ed2985;
}

.header-wrapper__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 100px;
  height: 100%;
}

.bottom-header-wrapper__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 65px;
  position: relative;
}

.bottom-header-wrapper__title {
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  line-height: 85px;
  text-align: center;
  text-transform: uppercase;
}

.content-bottom-header-wrapper__title {
  color: #d7d7d7;
  font-size: 16px;
  font-weight: 200;
  line-height: 29px;
  width: 100%;
  max-width: 580px;
  margin-right: 265px;
}

.content-bottom-header-wrapper__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 53px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  width: 100%;
  max-width: 255px;
  background-color: #ed2985;
  border: 1px solid #ed2985;
  color: #fff;
  z-index: 3;
}

.content-bottom-header-wrapper__btn:hover {
  background-color: #ef4192;
  border-color: #ef4192;
}

.content-bottom-header-wrapper__circle-figure {
  border: 1px solid #fff;
  width: 255px;
  height: 255px;
  border-radius: 100%;
  opacity: 0.2;
  position: absolute;
  top: 0;
  right: -55px;
  z-index: 2;
}

.header-wrapper__background {
  position: absolute;
  top: 0;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  z-index: -1;
}

.section-article-content-wrapper__content {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.content-section-article-content-wrapper__title {
  font-size: 50px;
  font-weight: 400;
  line-height: 85px;
  margin-bottom: 45px;
  text-transform: capitalize;
}

.content-section-article-content-wrapperr__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-section-article-content-wrapperr__description > div > ol {
  counter-reset: li;
  list-style: none;
}

.content-section-article-content-wrapperr__description > div > ol > li {
  color: #242539;
  counter-increment: li;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  margin-top: 90px;
}

.content-section-article-content-wrapperr__description > div > ol > li::before {
  color: #ed2985;
  content: "0" counter(li);
  display: inline-block;
  font-size: 32px;
  font-weight: 400;
  margin-right: 60px;
  margin-top: 5px;
  width: 50px;
}

.content-section-article-content-wrapperr__description
  > div
  > ol
  > li:first-child {
  margin-top: 35px;
}

.content-section-article-content-wrapperr__description > div > ol > li > p {
  width: 470px;
}

.content-section-article-content-wrapperr__description > div > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 53px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  width: 100%;
  max-width: 255px;
  background-color: #fff;
  border: 1px solid #242539;
  color: #242539;
  margin: 90px 0 0 115px;
}

.content-section-article-content-wrapperr__description > div > a:hover {
  background: #ed2985;
  border-color: #ed2985;
  color: #fff;
}

.content-section-article-content-wrapperr__description > img {
  width: 470px;
  height: 100%;
  border-radius: 2px;
}

.section-article-content-wrapper__content-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.content-2-section-article-content-wrapper__background-color {
  width: 100%;
  max-width: 50%;
  background-color: #242539;
}

.content-2-section-article-content-wrapper__background-image {
  width: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  /* height: 100%; */
  -o-object-position: center;
  object-position: center;
  background-color: #242539;
}

.content-2-section-article-content-wrapper__background-color {
  min-height: 862px;
}

.section-article-content-wrapper__content-2__title {
  position: absolute;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 100%;
  max-width: 1170px;
}

.section-article-content-wrapper__content-2__title > .sub-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-article-content-wrapper__content-2__title > .sub-text > .pink-line {
  width: 50px;
  height: 1px;
  margin-right: 20px;
  background-color: #ed2985;
}

.section-article-content-wrapper__content-2__title > .sub-text > p {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.section-article-content-wrapper__content-2__title > h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  line-height: 85px;
  margin-bottom: 45px;
  text-transform: capitalize;
}

.section-article-content-wrapper__content-2__title > div:not(.sub-text) {
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 60px;
  color: #fff;
  width: 100%;
  max-width: 635px;
}

.section-article-content-wrapper__content-2__title > div:not(.sub-text) > p {
  margin-bottom: 20px;
}

.section-article-content-wrapper__content-2__title
  > div:not(.sub-text)
  > ul
  > li {
  padding-left: 15px;
  position: relative;
}

.section-article-content-wrapper__content-2__title
  > div:not(.sub-text)
  > ul
  > li::before {
  background-color: #ed2985;
  border-radius: 50%;
  content: "";
  display: block;
  height: 8px;
  left: 0;
  position: absolute;
  top: 33%;
  width: 8px;
}

.section-article-content-wrapper__content-2__title > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 53px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  width: 100%;
  max-width: 255px;
  background-color: #fff;
  border: 1px solid #fff;
  color: #242539;
}

.section-article-content-wrapper__content-2__title > a:hover {
  color: #fff;
  background-color: #242539;
  border-color: #242539;
}

.content-3-section-article-content-wrapper__partners {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.content-3-section-article-content-wrapper__partners > h2 {
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 400;
  line-height: 85px;
  margin-bottom: 45px;
}

.content-3-section-article-content-wrapper__partners > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 105px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.content-3-section-article-content-wrapper__partners > ul > li {
  margin-bottom: 30px;
  padding-left: 17px;
  padding-right: 17px;
}

.section-article-content-wrapper__content-4 {
  background-color: #f3f3f5;
}

.content-4-section-article-content-wrapper__clients {
  width: 100%;
  max-width: 1170px;
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
}

.content-4-section-article-content-wrapper__clients > h2 {
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 400;
  line-height: 85px;
  margin-bottom: 45px;
  color: #242539;
}

.clients-content-4-section-article-content-wrapper__comments-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 35px;
}

.clients-content-4-section-article-content-wrapper__comments-block
  > .author
  > img {
  width: 100%;
  max-width: 115px;
  -o-object-fit: cover;
  object-fit: cover;
  height: auto;
  margin-bottom: 25px;
}

.clients-content-4-section-article-content-wrapper__comments-block
  > .author
  > span
  :first-child {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 5px;
}

.clients-content-4-section-article-content-wrapper__comments-block
  > .author
  > span
  :last-child {
  font-size: 14px;
  color: #676774;
  font-weight: 400;
  line-height: 20px;
  max-width: 260px;
}

.clients-content-4-section-article-content-wrapper__comments-block
  > .comment
  > p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 100%;
  max-width: 800px;
}

.clients-content-4-section-article-content-wrapper__slider-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 65px;
}

.clients-content-4-section-article-content-wrapper__slider-control
  > .slider-controller
  button {
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 25px 15px;
  border: 1px solid #dadada;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 55px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  width: 55px;
}

.clients-content-4-section-article-content-wrapper__slider-control
  > .slider-controller
  button:hover {
  background-color: #ed2985;
  border-color: #ed2985;
}

.clients-content-4-section-article-content-wrapper__slider-control
  > .slider-controller
  .slider-controller__btn-prev {
  background-image: url(/assets/images/body/slider/arrowLeft.svg);
  background-size: 40%;
  margin-right: 7.5px;
}

.clients-content-4-section-article-content-wrapper__slider-control
  > .slider-controller
  .slider-controller__btn-prev:hover {
  background-image: url(/assets/images/body/slider/arrowLeftWhite.png);
}

.clients-content-4-section-article-content-wrapper__slider-control
  > .slider-controller
  .slider-controller__btn-next {
  background-image: url(/assets/images/body/slider/arrowRight.svg);
  background-size: 40%;
  margin-left: 7.5px;
}

.clients-content-4-section-article-content-wrapper__slider-control
  > .slider-controller
  .slider-controller__btn-next:hover {
  background-image: url(/assets/images/body/slider/arrowRightWhite.png);
}

.clients-content-4-section-article-content-wrapper__slider-control
  > .slider-dot {
  margin-left: 65px;
}

.clients-content-4-section-article-content-wrapper__slider-control
  > .slider-dot
  > ul {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-content-4-section-article-content-wrapper__slider-control
  > .slider-dot
  > ul
  .active {
  background-color: #ed2985;
}

.clients-content-4-section-article-content-wrapper__slider-control
  > .slider-dot
  > ul
  li {
  background-color: #dadada;
  cursor: pointer;
  height: 3px;
  margin: 0 6px;
  width: 30px;
}

.clients-content-4-section-article-content-wrapper__slider-control
  > .slider-dot
  > ul
  li:hover {
  background-color: #ed2985;
}

.content-5-section-article-content-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.content-5-section-article-content-wrapper > h2 {
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 400;
  line-height: 85px;
  margin-bottom: 45px;
}

.content-5-section-article-content-wrapper > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 53px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  width: 100%;
  max-width: 255px;
  background-color: #fff;
  border: 1px solid #242539;
  color: #242539;
  margin: 0 auto;
}

.content-5-section-article-content-wrapper > a:hover {
  background: #ed2985;
  border-color: #ed2985;
  color: #fff;
}

.content-5-section-article-content-wrapper__img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.img-block-content-5-section-article-content-wrapper__block-1 {
  width: 100%;
  max-width: 570px;
  margin-bottom: 60px;
}

.img-block-content-5-section-article-content-wrapper__block-1:hover > h2 > a {
  color: #ed2985;
  cursor: pointer;
}

.img-block-content-5-section-article-content-wrapper__block-1:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.img-block-content-5-section-article-content-wrapper__block-1 > div {
  width: 100%;
  overflow: hidden;
}

.img-block-content-5-section-article-content-wrapper__block-1 > div > img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.img-block-content-5-section-article-content-wrapper__block-1 > h2 {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 15px;
  margin-top: 30px;
}

.img-block-content-5-section-article-content-wrapper__block-1 > h2 > a {
  color: #242539;
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}

.img-block-content-5-section-article-content-wrapper__block-1 > p {
  color: #242539;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}

.img-block-content-5-section-article-content-wrapper__block-2 {
  width: 100%;
  max-width: 570px;
  margin-bottom: 60px;
}

.img-block-content-5-section-article-content-wrapper__block-2:hover > h2 > a {
  color: #ed2985;
  cursor: pointer;
}

.img-block-content-5-section-article-content-wrapper__block-2:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.img-block-content-5-section-article-content-wrapper__block-2 > div {
  width: 100%;
  overflow: hidden;
}

.img-block-content-5-section-article-content-wrapper__block-2 > div > img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.img-block-content-5-section-article-content-wrapper__block-2 > h2 {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 15px;
  margin-top: 30px;
  border-radius: 2px;
}

.img-block-content-5-section-article-content-wrapper__block-2 > h2 > a {
  color: #242539;
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}

.content-6-section-article-content-wrapper__img-block {
  background-color: #f3f3f5;
}

.img-block-content-6-section-article-content-wrapper__award {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  padding-top: 120px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.img-block-content-6-section-article-content-wrapper__award > h2 {
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 400;
  line-height: 85px;
  margin-bottom: 45px;
}

.img-block-content-6-section-article-content-wrapper__award > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.img-block-content-6-section-article-content-wrapper__award > ul > li {
  margin: 0 55px;
}

.service-content-7-section-article-content-wrapper__block-1 {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  padding-top: 120px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.service-content-7-section-article-content-wrapper__block-1 > img {
  border-radius: 2px;
}

.service-content-7-section-article-content-wrapper__block-1 > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.service-content-7-section-article-content-wrapper__block-1 > div > h2 {
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 400;
  line-height: 85px;
  margin-bottom: 45px;
}

.service-content-7-section-article-content-wrapper__block-1 > div > ul > li {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 73px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.service-content-7-section-article-content-wrapper__block-1
  > div
  > ul
  > li:hover {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.service-content-7-section-article-content-wrapper__block-1
  > div
  > ul
  > li:hover
  span::after {
  width: 100%;
}

.service-content-7-section-article-content-wrapper__block-1
  > div
  > ul
  > li
  > span::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #ed2985;
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.service-content-7-section-article-content-wrapper__block-1 > div > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 53px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  width: 100%;
  max-width: 255px;
  background-color: #fff;
  border: 1px solid #242539;
  color: #242539;
  margin-top: 190px;
}

.service-content-7-section-article-content-wrapper__block-1 > div > a:hover {
  background: #ed2985;
  border-color: #ed2985;
  color: #fff;
}

.wrapper__footer {
  background-color: #121221;
}

.footer-wrapper__tellus {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.footer-wrapper__tellus > h2 {
  font-size: 50px;
  font-weight: 400;
  line-height: 85px;
  margin-bottom: 45px;
  color: #fff;
  text-transform: capitalize;
}

.tellus-footer-wrapper__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-descr-tellus-footer-wrapper__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  color: #fff;
}

.form-descr-tellus-footer-wrapper__info,
.form-descr-tellus-footer-wrapper__info-mobile {
  margin-top: 75px;
}

.form-descr-tellus-footer-wrapper__info > h2,
.form-descr-tellus-footer-wrapper__info-mobile > h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 44px;
  color: #fff;
}

.form-descr-tellus-footer-wrapper__info > p,
.form-descr-tellus-footer-wrapper__info-mobile > p {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #fff;
}

.form-descr-tellus-footer-wrapper__info > a,
.form-descr-tellus-footer-wrapper__info-mobile > a {
  color: #ed2985;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-decoration: underline;
}

.form-descr-tellus-footer-wrapper__info > a:hover,
.form-descr-tellus-footer-wrapper__info-mobile > a:hover {
  color: #f158a0;
}

.form-descr-tellus-footer-wrapper__info-mobile {
  display: none;
}

.conteiner-tellus-footer-wrapper__from {
  width: 100%;
  max-width: 570px;
  margin-left: 100px;
}

.conteiner-tellus-footer-wrapper__from .name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.conteiner-tellus-footer-wrapper__from .name-email > .input {
  background-color: #1e1e2c;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  padding: 22px 20px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  border-bottom: 3px solid transparent;
}

.conteiner-tellus-footer-wrapper__from .name-email > .input:focus {
  border-bottom: 3px solid;
  border-color: #ed2985;
  outline: #fff;
}

.conteiner-tellus-footer-wrapper__from .textarea {
  width: 100%;
  max-width: 100%;
  background-color: #1e1e2c;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  height: 183px;
  padding: 22px 20px;
  resize: none;
  margin: 30px 0 40px;
}

.conteiner-tellus-footer-wrapper__from .textarea:focus {
  border-bottom: 3px solid;
  border-color: #ed2985;
  outline: #fff;
}

.conteiner-tellus-footer-wrapper__from .form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.conteiner-tellus-footer-wrapper__from .form-footer button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 53px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  width: 100%;
  max-width: 255px;
  background-color: #ed2985;
  border: 1px solid #ed2985;
  color: #fff;
}

.conteiner-tellus-footer-wrapper__from .form-footer button:hover {
  background-color: #ef4192;
  border-color: #ef4192;
}

.conteiner-tellus-footer-wrapper__from .form-footer > .attach-file-block {
  margin-left: 15px;
}

.conteiner-tellus-footer-wrapper__from .form-footer > .attach-file-block > img {
  width: 100%;
  max-width: 19px;
  height: auto;
}

.conteiner-tellus-footer-wrapper__from
  .form-footer
  > .attach-file-block
  > .origin-uploade-input {
  display: none;
}

.conteiner-tellus-footer-wrapper__from
  .form-footer
  > .attach-file-block
  > .custom-uploade-input {
  color: #ed2985;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
}

.conteiner-tellus-footer-wrapper__from
  .form-footer
  > .attach-file-block
  > .custom-uploade-input:hover {
  color: #f158a0;
}

.footer-wrapper__info {
  border-color: #3e3f51;
  border-style: solid none;
  border-width: 1px;
  padding-top: 110px;
}

.info-footer-wrapper__content {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}

.content-info-footer-wrapper__navigation {
  width: 100%;
}

.content-info-footer-wrapper__navigation > .nav-block-5 {
  margin-top: 45px;
}

.content-info-footer-wrapper__navigation > .nav-block-5 > h4 {
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
  color: #fff;
}

.content-info-footer-wrapper__navigation > .nav-block-5 > .nav-block-5__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 50px 0;
}

.content-info-footer-wrapper__navigation
  > .nav-block-5
  > .nav-block-5__slider
  > button {
  width: 15px;
  height: 30px;
  background-size: cover;
  background-color: #121221;
}

.content-info-footer-wrapper__navigation
  > .nav-block-5
  > .nav-block-5__slider
  > .slider-prev {
  background-image: url(/assets/images/footer/slider/vector-left.svg);
  background-position: center;
}

.content-info-footer-wrapper__navigation
  > .nav-block-5
  > .nav-block-5__slider
  > .slider-next {
  background-image: url(/assets/images/footer/slider/vector-right.svg);
  background-position: center;
}

.content-info-footer-wrapper__navigation
  > .nav-block-5
  > .nav-block-5__slider
  > .slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 1050px;
}

.content-info-footer-wrapper__navigation
  > .nav-block-5
  > .nav-block-5__slider
  > .slider-content
  .date-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-weight: 400;
  width: 47px;
  height: 49px;
  line-height: 25px;
  margin-right: 15px;
}

.content-info-footer-wrapper__navigation
  > .nav-block-5
  > .nav-block-5__slider
  > .slider-content
  .date-wrapper
  :first-child {
  font-size: 25px;
  margin-bottom: -6px;
  padding-top: 6px;
  color: #242539;
}

.content-info-footer-wrapper__navigation
  > .nav-block-5
  > .nav-block-5__slider
  > .slider-content
  .date-wrapper
  :last-child {
  font-size: 10px;
  letter-spacing: 3px;
  margin-bottom: -6px;
  padding-bottom: 6px;
  text-transform: uppercase;
  color: #242539;
}

.content-info-footer-wrapper__navigation
  > .nav-block-5
  > .nav-block-5__slider
  > .slider-content
  > .slider-content__block-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.content-info-footer-wrapper__navigation
  > .nav-block-5
  > .nav-block-5__slider
  > .slider-content
  > .slider-content__block-1
  > a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 400px;
}

.content-info-footer-wrapper__navigation
  > .nav-block-5
  > .nav-block-5__slider
  > .slider-content
  > .slider-content__block-1:hover
  .date-wrapper {
  background-color: #ed2985;
}

.content-info-footer-wrapper__navigation
  > .nav-block-5
  > .nav-block-5__slider
  > .slider-content
  > .slider-content__block-1:hover
  > a {
  color: #ed2985;
}

.content-info-footer-wrapper__navigation
  > .nav-block-5
  > .nav-block-5__slider
  > .slider-content
  > .slider-content__block-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.content-info-footer-wrapper__navigation
  > .nav-block-5
  > .nav-block-5__slider
  > .slider-content
  > .slider-content__block-2
  > a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 400px;
}

.content-info-footer-wrapper__navigation
  > .nav-block-5
  > .nav-block-5__slider
  > .slider-content
  > .slider-content__block-2:hover
  .date-wrapper {
  background-color: #ed2985;
}

.content-info-footer-wrapper__navigation
  > .nav-block-5
  > .nav-block-5__slider
  > .slider-content
  > .slider-content__block-2:hover
  > a {
  color: #ed2985;
}

.navigation-content-info-footer-wrapper__navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
}

.navigation-content-info-footer-wrapper__navs > .nav-block-4-mobile {
  display: none;
}

.navigation-content-info-footer-wrapper__navs > img {
  width: 100px;
  height: 42px;
  margin-right: 180px;
}

.navigation-content-info-footer-wrapper__navs > .nav-block-1 > h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 40px;
}

.navigation-content-info-footer-wrapper__navs
  > .nav-block-1
  .nav-block-1__travelhosplt
  > ul
  > li {
  margin-bottom: 25px;
}

.navigation-content-info-footer-wrapper__navs
  > .nav-block-1
  .nav-block-1__travelhosplt
  > ul
  > li
  > a {
  color: #d7d7d7;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
}

.navigation-content-info-footer-wrapper__navs
  > .nav-block-1
  .nav-block-1__travelhosplt
  > ul
  > li
  > a:hover {
  color: #ed2985;
}

.navigation-content-info-footer-wrapper__navs .nav-block-2 > h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 40px;
}

.navigation-content-info-footer-wrapper__navs
  .nav-block-2
  .nav-block-2__resources
  > ul
  > li {
  margin-bottom: 25px;
}

.navigation-content-info-footer-wrapper__navs
  .nav-block-2
  .nav-block-2__resources
  > ul
  > li
  > a {
  color: #d7d7d7;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
}

.navigation-content-info-footer-wrapper__navs
  .nav-block-2
  .nav-block-2__resources
  > ul
  > li
  > a:hover {
  color: #ed2985;
}

.navigation-content-info-footer-wrapper__navs .nav-block-3 > h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 40px;
}

.navigation-content-info-footer-wrapper__navs
  .nav-block-3
  .nav-block-3__company
  > ul
  > li {
  margin-bottom: 25px;
}

.navigation-content-info-footer-wrapper__navs
  .nav-block-3
  .nav-block-3__company
  > ul
  > li
  > a {
  color: #d7d7d7;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
}

.navigation-content-info-footer-wrapper__navs
  .nav-block-3
  .nav-block-3__company
  > ul
  > li
  > a:hover {
  color: #ed2985;
}

.navigation-content-info-footer-wrapper__navs .nav-block-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  right: -45px;
}

.navigation-content-info-footer-wrapper__navs
  .nav-block-4
  > .nav-block-4__social-media {
  background-color: #1e1e2c;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  width: 65px;
  height: 65px;
  margin: 0 10px;
}

.navigation-content-info-footer-wrapper__navs
  .nav-block-4
  > .nav-block-4__social-media:hover {
  background-color: #ed2985;
}

.navigation-content-info-footer-wrapper__navs
  .nav-block-4
  > .nav-block-4__social-media
  > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.navigation-content-info-footer-wrapper__navs
  .nav-block-4
  > .nav-block-4__social-media
  > a
  > img {
  width: 100%;
  height: 24px;
  -o-object-fit: contain;
  object-fit: contain;
}

.footer-wrapper__copyright {
  color: #676774;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 35px 0;
}

@media screen and (max-width: 1253px) {
  .wrapper__header {
    height: 750px;
  }
  .content-top-header-wrapper__logo {
    margin-right: 30px;
  }
  .top-header-wrapper__content {
    max-width: 700px;
  }
  .top-header-wrapper__content > nav {
    width: 100%;
  }
  .top-header-wrapper__content
    .menu-navigation-content-top-header-wrapper__item
    > a {
    margin: 0;
    font-size: 12px;
  }
  .header-wrapper__bottom {
    padding: 65px 0 0;
  }
  .bottom-header-wrapper__title {
    font-size: 50px;
    line-height: 50px;
  }
  .content-bottom-header-wrapper__title {
    margin-right: 50px;
    max-width: 365px;
  }
  .section-article-content-wrapper__content {
    padding: 70px 10px;
    max-width: 700px;
  }
  .content-section-article-content-wrapperr__description {
    font-size: 50px;
    line-height: 58px;
  }
  .content-section-article-content-wrapperr__description
    > div
    > ol
    > li::before {
    font-size: 30px;
    margin: 0 15px 0 10px;
    width: 30px;
  }
  .content-section-article-content-wrapperr__description
    > div
    > ol
    > li:first-child {
    margin-top: 35px;
  }
  .content-section-article-content-wrapperr__description > div > ol > li > p {
    width: 250px;
  }
  .content-section-article-content-wrapperr__description > img {
    height: 500px;
    width: 325px;
  }
  .content-2-section-article-content-wrapper__background-color {
    min-height: 635px;
  }
  .section-article-content-wrapper__content-2__title {
    max-width: 700px;
  }
  .section-article-content-wrapper__content-2__title > h2 {
    font-size: 50px;
    line-height: 58px;
  }
  .content-2-section-article-content-wrapper__background-color {
    max-width: 40%;
  }
  .content-2-section-article-content-wrapper__background-image {
    width: 60%;
  }
  .content-3-section-article-content-wrapper__partners {
    padding: 70px 10px;
    max-width: 700px;
  }
  .content-3-section-article-content-wrapper__partners > h2 {
    font-size: 50px;
    line-height: 58px;
  }
  .content-4-section-article-content-wrapper__clients {
    padding: 70px 10px;
    max-width: 700px;
  }
  .content-4-section-article-content-wrapper__clients > h2 {
    font-size: 50px;
    line-height: 58px;
  }
  .clients-content-4-section-article-content-wrapper__comments-block {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .clients-content-4-section-article-content-wrapper__comments-block
    > .comment
    > p {
    font-size: 16px;
    max-width: 500px;
  }
  .content-5-section-article-content-wrapper {
    padding: 70px 10px;
    max-width: 700px;
  }
  .img-block-content-5-section-article-content-wrapper__block-1 > div,
  .img-block-content-5-section-article-content-wrapper__block-2 > div {
    max-width: 320px;
  }
  .img-block-content-6-section-article-content-wrapper__award {
    padding: 70px 10px;
    max-width: 700px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .img-block-content-6-section-article-content-wrapper__award > h2 {
    line-height: 58px;
  }
  .img-block-content-6-section-article-content-wrapper__award > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .img-block-content-6-section-article-content-wrapper__award > ul > li {
    margin: 0 25px;
  }
  .service-content-7-section-article-content-wrapper__block-1 {
    padding: 70px 10px;
    max-width: 700px;
  }
  .service-content-7-section-article-content-wrapper__block-1 > div > h2 {
    font-size: 50px;
    line-height: 58px;
  }
  .service-content-7-section-article-content-wrapper__block-1 > div > ul > li {
    font-size: 20px;
    height: 63px;
  }
  .service-content-7-section-article-content-wrapper__block-1 > div > a {
    margin-top: 30px;
  }
  .service-content-7-section-article-content-wrapper__block-1 > img {
    width: 370px;
    height: 100%;
  }
  .footer-wrapper__tellus {
    padding: 70px 10px;
    max-width: 700px;
  }
  .tellus-footer-wrapper__conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .form-descr-tellus-footer-wrapper__info,
  .form-descr-tellus-footer-wrapper__info-mobile {
    display: none;
  }
  .form-descr-tellus-footer-wrapper__info-mobile {
    display: block;
  }
  .conteiner-tellus-footer-wrapper__from {
    max-width: 700px;
    margin-left: 0;
    margin-top: 50px;
  }
  .info-footer-wrapper__content {
    padding: 70px 10px;
    max-width: 700px;
  }
  .navigation-content-info-footer-wrapper__navs > img {
    width: 100px;
    height: 42px;
    margin-right: 10px;
  }
  .content-info-footer-wrapper__navigation
    > .nav-block-5
    > .nav-block-5__slider
    > .slider-content {
    max-width: 600px;
  }
  .content-info-footer-wrapper__navigation
    > .nav-block-5
    > .nav-block-5__slider
    > .slider-content
    > .slider-content__block-1
    > a {
    font-size: 12px;
    line-height: 18px;
    width: 200px;
  }
  .content-info-footer-wrapper__navigation
    > .nav-block-5
    > .nav-block-5__slider
    > .slider-content
    > .slider-content__block-2
    > a {
    font-size: 12px;
    line-height: 18px;
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper__header {
    height: auto;
  }
  .content-top-header-wrapper__logo {
    padding-left: 40px;
  }
  .content-top-header-wrapper__navigation {
    display: none;
  }
  .content-top-header-wrapper__btn-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    right: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    width: 40px;
  }
  .content-top-header-wrapper__btn-mobile > span {
    display: block;
    background-color: #ed2985;
    height: 3px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    width: 30px;
  }
  .content-top-header-wrapper__btn-mobile > span::after {
    display: block;
    content: "";
    position: absolute;
    top: 11px;
    background-color: #ed2985;
    height: 3px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    width: 30px;
  }
  .content-top-header-wrapper__btn-mobile > span::before {
    display: block;
    content: "";
    position: absolute;
    bottom: 10px;
    background-color: #ed2985;
    height: 3px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    width: 30px;
  }
  .header-wrapper__bottom {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: auto;
    padding: 65px 20px;
    width: 100%;
    max-width: 540px;
  }
  .content-bottom-header-wrapper__circle-figure {
    display: none;
  }
  .bottom-header-wrapper__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 5px;
  }
  .bottom-header-wrapper__title {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
  }
  .content-bottom-header-wrapper__title {
    color: #bcbec0;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 35px;
    margin-right: 0;
    text-align: left;
    width: 100%;
    max-width: 100%;
  }
  .section-article-content-wrapper__content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 540px;
    padding: 70px 20px;
    width: 100%;
  }
  .content-section-article-content-wrapper__title {
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .content-section-article-content-wrapperr__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .content-section-article-content-wrapperr__description > div > ol > li {
    font-size: 14px;
    margin-top: 20px;
  }
  .content-section-article-content-wrapperr__description > div > ol > li > p {
    max-width: 440px;
    width: auto;
  }
  .content-section-article-content-wrapperr__description > div > a {
    margin: 35px 0 0;
    max-width: 100%;
  }
  .content-section-article-content-wrapperr__description > img {
    width: 100%;
    height: 450px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .content-2-section-article-content-wrapper__background-color {
    min-height: 600px;
  }
  .section-article-content-wrapper__content-2__title {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 540px;
    padding: 70px 20px;
  }
  .section-article-content-wrapper__content-2__title > .sub-text > .pink-line {
    margin-right: 10px;
    width: 25px;
  }
  .section-article-content-wrapper__content-2__title > .sub-text > p {
    font-size: 12px;
  }
  .section-article-content-wrapper__content-2__title > h2 {
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .section-article-content-wrapper__content-2__title > div:not(.sub-text) > p {
    font-size: 14px;
    line-height: 22px;
  }
  .section-article-content-wrapper__content-2__title > a {
    max-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #ed2985;
    width: 100%;
  }
  .section-article-content-wrapper__content-2__title > a:hover {
    background-color: transparent;
    border-color: #fff;
  }
  .content-3-section-article-content-wrapper__partners {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 540px;
    padding: 70px 20px;
  }
  .content-3-section-article-content-wrapper__partners > h2 {
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .content-3-section-article-content-wrapper__partners > ul {
    margin-top: 0;
  }
  .content-4-section-article-content-wrapper__clients {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 540px;
    padding: 70px 20px;
  }
  .content-4-section-article-content-wrapper__clients > h2 {
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 30px;
    text-align: center;
  }
  .clients-content-4-section-article-content-wrapper__comments-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .clients-content-4-section-article-content-wrapper__comments-block > .author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 30px;
  }
  .clients-content-4-section-article-content-wrapper__comments-block
    > .comment
    > p {
    text-align: center;
  }
  .clients-content-4-section-article-content-wrapper__slider-control
    > .slider-controller {
    display: none;
  }
  .clients-content-4-section-article-content-wrapper__slider-control
    > .slider-dot {
    margin-left: 0;
  }
  .content-5-section-article-content-wrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 540px;
    padding: 70px 5px;
  }
  .content-5-section-article-content-wrapper > h2 {
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .content-5-section-article-content-wrapper > a {
    max-width: 100%;
  }
  .content-5-section-article-content-wrapper__img-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .content-5-section-article-content-wrapper__img-block
    > .img-block-content-5-section-article-content-wrapper__block-1,
  .content-5-section-article-content-wrapper__img-block
    .img-block-content-5-section-article-content-wrapper__block-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .img-block-content-6-section-article-content-wrapper__award {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 540px;
    padding: 70px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .img-block-content-6-section-article-content-wrapper__award > h2 {
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 30px;
    text-align: center;
  }
  .img-block-content-6-section-article-content-wrapper__award > ul > li {
    margin: 45px 15px 0;
  }
  .img-block-content-6-section-article-content-wrapper__award > ul > li > img {
    height: 80px;
    width: 75px;
  }
  .service-content-7-section-article-content-wrapper__block-1 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 540px;
    padding: 70px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .service-content-7-section-article-content-wrapper__block-1 > div {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .service-content-7-section-article-content-wrapper__block-1 > div > h2 {
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 30px;
    text-align: center;
  }
  .service-content-7-section-article-content-wrapper__block-1 > div > ul > li {
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .service-content-7-section-article-content-wrapper__block-1 > div > a {
    max-width: 100%;
  }
  .service-content-7-section-article-content-wrapper__block-1 > img {
    display: none;
  }
  .footer-wrapper__tellus {
    padding: 70px 10px;
    max-width: 700px;
  }
  .footer-wrapper__tellus > h2 {
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .tellus-footer-wrapper__form-descr > .form-descr-tellus-footer-wrapper__text {
    font-size: 14px;
    line-height: 22px;
  }
  .conteiner-tellus-footer-wrapper__from .name-email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .conteiner-tellus-footer-wrapper__from .name-email > .input {
    font-size: 16px;
    margin: 0 0 20px;
    padding: 18px 15px;
  }
  .conteiner-tellus-footer-wrapper__from .textarea {
    font-size: 16px;
    margin: 0 0 20px;
    padding: 18px 15px;
  }
  .info-footer-wrapper__content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 20px;
    max-width: 540px;
    padding-bottom: 30px;
    padding-top: 60px;
  }
  .footer-wrapper__info {
    padding-top: 0 !important;
  }
  .footer-wrapper__info .navigation-content-info-footer-wrapper__navs {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-wrapper__info .navigation-content-info-footer-wrapper__navs > img {
    margin-bottom: 60px;
    margin-right: 0;
  }
  .footer-wrapper__info .nav-block-1 {
    margin-bottom: 20px;
    width: 50%;
  }
  .footer-wrapper__info .nav-block-1 > h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .footer-wrapper__info .nav-block-1 > .nav-block-1__travelhosplt li {
    margin-bottom: 15px !important;
  }
  .footer-wrapper__info .nav-block-2 {
    margin-bottom: 20px;
    width: 50%;
  }
  .footer-wrapper__info .nav-block-2 > h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .footer-wrapper__info .nav-block-2 > .nav-block-2__resources li {
    margin-bottom: 15px !important;
  }
  .footer-wrapper__info .nav-block-3 {
    margin-bottom: 20px;
    width: 50%;
  }
  .footer-wrapper__info .nav-block-3 > h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .footer-wrapper__info .nav-block-3 > .nav-block-3__company li {
    margin-bottom: 15px !important;
  }
  .footer-wrapper__info .nav-block-4 {
    display: none;
  }
  .footer-wrapper__info .nav-block-4-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-wrapper__info
    .nav-block-4-mobile
    > .nav-block-4-mobile__social-media {
    background-color: #1e1e2c;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    width: 45px;
    height: 45px;
    margin: 0 5px;
  }
  .footer-wrapper__info
    .nav-block-4-mobile
    > .nav-block-4-mobile__social-media:hover {
    background-color: #ed2985;
  }
  .footer-wrapper__info
    .nav-block-4-mobile
    > .nav-block-4-mobile__social-media
    > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }
  .footer-wrapper__info
    .nav-block-4-mobile
    > .nav-block-4-mobile__social-media
    > a
    > img {
    width: 100%;
    height: 16px;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .footer-wrapper__info .nav-block-5 {
    margin-top: 15px;
  }
  .footer-wrapper__info .nav-block-5 > h4 {
    font-size: 18px;
  }
  .footer-wrapper__info .nav-block-5 > .nav-block-5__slider {
    margin-bottom: 0;
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-wrapper__info .nav-block-5 > .nav-block-5__slider > .slider-prev {
    display: none;
  }
  .footer-wrapper__info .nav-block-5 > .nav-block-5__slider > .slider-next {
    display: none;
  }
  .footer-wrapper__info .nav-block-5 > .nav-block-5__slider > .slider-control {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin: 40px 0 0;
  }
  .footer-wrapper__info
    .nav-block-5
    > .nav-block-5__slider
    > .slider-control
    > .slider-dot
    > ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-wrapper__info
    .nav-block-5
    > .nav-block-5__slider
    > .slider-control
    > .slider-dot
    > ul
    .active {
    background-color: #ed2985;
  }
  .footer-wrapper__info
    .nav-block-5
    > .nav-block-5__slider
    > .slider-control
    > .slider-dot
    > ul
    li {
    background-color: #dadada;
    cursor: pointer;
    height: 3px;
    margin: 0 6px;
    width: 30px;
  }
  .footer-wrapper__info
    .nav-block-5
    > .nav-block-5__slider
    > .slider-control
    > .slider-dot
    > ul
    li:hover {
    background-color: #ed2985;
  }
  .footer-wrapper__info
    .nav-block-5
    > .nav-block-5__slider
    > .slider-content
    > .slider-content__block-1
    > a {
    font-size: 14px;
    width: auto;
  }
  .footer-wrapper__info
    .nav-block-5
    > .nav-block-5__slider
    > .slider-content
    > .slider-content__block-2 {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #bebebe70;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-moz-selection {
  color: white;
  background: #ed2985;
}

::selection {
  color: white;
  background: #ed2985;
}
